// :root {
// 	--container-width: 1744px;
// 	--container-padding: 80px;

// 	--font-main: 'Inter',sans-serif;
// 	--font-accent: 'Inter', sans-serif;
// 	--font-titles: var(--font-accent);

// 	--page-bg: #131314;
// 	--text-color: #E5E5EA;
// 	--text-grey: #252527;
// 	--text-sub: #7d7d85;
// 	--accent: #E4E4E9;
// 	--accent-plus:#E5E5EA;
// 	--grey: #8c8c93;

// 	--border-about: #e5e5ea33;
// 	--background-modal: #262629;
// 	--background-sec: #e5e5ea0f;
// 	--background-sec-hover: #e5e5ea29;
// 	--background-link-hover: #1E1E1F;
// 	--background-choise: #343438;
// 	--color-choise: #bbc8ef;
// 	--links-color: #3069ff;
// 	--links-hover: #4076FF;
// 	--search: #202021;
	
// 	--white: #fff;

//     --laptop-size: 1199px;
// 	--tablet-size: 959px;
// 	--mobile-size: 599px;
// }

.dark {
    --container-width: 1744px;
	--container-padding: 80px;

	--font-main: 'Inter',sans-serif;
	--font-accent: 'Inter', sans-serif;
	--font-titles: var(--font-accent);

	--page-bg: #131314;
	--text-color: #E5E5EA;
	--text-grey: #252527;
	--text-sub: #7d7d85;
	--accent: #E4E4E9;
	--accent-plus:#E5E5EA;
	--grey: #8c8c93;

	--border-about: #e5e5ea33;
	--background-modal: #262629;
	--background-sec: #e5e5ea0f;
	--background-sec-hover: #e5e5ea29;
	--background-link-hover: #1E1E1F;
	--background-choise: #343438;
	--color-choise: #bbc8ef;
	--links-color: #3069ff;
	--links-hover: #4076FF;
	--search: #202021;
	
	--white: #fff;

    --laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;
}

.light{
	--container-width: 1744px;
	--container-padding: 80px;

	--font-main: 'Inter',sans-serif;
	--font-accent: 'Inter', sans-serif;
	--font-titles: var(--font-accent);

	--page-bg: #fff;
	--text-color: #000;
	--text-grey: #252527;
	--text-sub: #7d7d85;
	--accent: #000;
	--accent-plus:#000;
	--grey: #8c8c93;

	--border-about: #00000044;
	--background-modal: #262629;
	--background-sec: #e5e5eab0;
	--background-sec-hover: #e5e5ea29;
	--background-link-hover: #00000044;
	--background-choise: rgba(223, 223, 223, 1);
	--color-choise: #d6d6d6;
	--links-color: #3069ff;
	--links-hover: #4076FF;
	--search: rgba(24 24 26 / .08);
	
	--white: #ECECED;
	--lh-white: #fff;
    --laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;

	.sidebar{
		background-color: var(--lh-white);
	}
	.sidebar--faq::before, 
	.sidebar--lg::before, 
	.sidebar--theme::before,
	.sidebar--theme-text::before,
	.sidebar--theme-text::before,
	.sidebar--theme-text::before,
	.sidebar--lg-en::before,
	.sidebar--lg-ru::before{
		background-color: var(--search);
	}

	.header--modal{
		color:#fff;
	}

	.modal--block{
		background-color: #fff;
	}
	.modal--wrapper{
		background-color: #8b8b8b;
	}
	.modal--web, .modal--tab--all, .modal--block--link{
		background-color: rgba(229, 229, 234, 0.5);
	}
	.header--search{
		color: #000;
	}

	.header--logo-mobile{
		svg{
			path{
				fill: #000;
			}
		}
	}
}