.about {
    padding-bottom: 96px;
    position: relative;
}
.about--title {
    margin-bottom: 26px;
}
.about--text-slice{
    text-overflow: ellipsis;
    white-space: wrap;
    overflow: hidden;
    max-height: 175px;
}
.about--block {
    max-width: 340px;
    padding: 24px;
    border: 1px solid var(--border-about);
    border-radius: 16px;

    text-overflow: ellipsis;
    white-space: wrap;
    overflow: hidden;
    min-height: 358px;
    max-height: 358px;
    transition: all 0.2s ease-in;

    position: relative;
    z-index: 3;
}
.about--block-active{
    max-height: 100%;
    .about--text-slice{
        max-height: 100%;
    }
    .about--btn {
        opacity: 0;
        display: none;
    }
    .about--link{
        display: block;
        opacity: 1;
    }
    .about--list{
        max-height: 100%;
    }
}

.about--sup {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}
.about--sup--img {
    padding-top: 5px;
    max-width: 28px;
    height: 28px;
}
.about--sup--title {
    color: var(--text-color);
    font-size: 26px;
    line-height: 32px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about--descr {
    color: var(--text-color);
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 20px;
    a{
        color: var(--links-color);
    }
}
.about--list {
    padding-left: 18px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
    transition: all 0.2s ease-in;
}

.about--list--item {
    color: var(--text-color);
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
}
.about--btn {
    display: block;
    position: relative;
    z-index: 2;
    font-size: 15px;
    font-weight: 600;
    color: var(--links-color);
    cursor: pointer;
    margin-top: 20px;
    transition: opacity 0.2s ease-in;
    &:hover{
        opacity: 0.8;
    }
}

.about--link{
    font-size: 15px;
    font-weight: 600;
    color: var(--links-color);
    cursor: pointer;
    opacity: 0;
    display: none;


    transition: opacity 0.2s ease-in;
    &:hover{
        opacity: 0.8;
    }
}

.about--faq{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.about--faq--link{
    position: absolute;
    max-width: 290px;
    bottom: 24px;
    left: 24px;
    a{
        color: var(--links-color);
    }
}

.about--slider{
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
    &:hover{
        .about-arrow{
            opacity: 1;
        }
        .swiper-button-disabled{
            opacity: 0;
            z-index: 0;
        }
    }
}
.about .swiper-slide{
    max-width: 350px;
    height: 100%;
}

.about-arrows{
    max-width: 1744px;
    padding: 0 20px;
    width: 100%;
    position: absolute;
    z-index: 4;
    top:40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    background-color: var(--page-bg);
    cursor: pointer;
    opacity: 0.6;
    transition: all 0.2s ease-in;
    &:hover{
        opacity: 1;
    }
    &:focus{
        opacity: 1;
    }
    &:active{
        opacity: 1;
    }
}

.about-arrow-left svg{
    transform: rotate(180deg);
}

@include mobile {
    .about{
        padding-bottom: 30px;
    }
}