.title-section{
	font-family: var(--font-main);
	font-size: 30px;
	font-weight: 700;
	color: var(--text-color);
}
.title-slider {
	font-family: var(--font-main);
	font-size: 23px;
	font-weight: 800;
	color: var(--text-color);
	text-transform: uppercase;
	line-height: 30px;
	letter-spacing: 0px;
}

.subtitle-slider{
	font-family: var(--font-main);
	font-size: 16px;
	font-weight: 400;
	color: var(--grey);
	line-height: 22px;
}

.title-drop {
	font-family: var(--font-titles);
	font-size: 18px;
	font-weight: 500;
	color: var(--text-color);
	line-height: 26px;
}

.subtitle-drop {
	font-family: var(--font-titles);
	font-size: 14px;
	font-weight: 400;
	color: var(--text-sub);
	line-height: 18px;
	margin-bottom: 10px;
}

.title-about {
	font-family: var(--font-titles);
	font-size: 24px;
	font-weight: 600;
	color: var(--text-color);
}

.title-about-text{
	font-family: var(--font-titles);
	font-size: 15px;
	font-weight: 400;
	color: var(--text-color)
}

.header--link {
	font-size: 16px;
	font-weight: 400;
	color: var(--accent);
}

.link-color{
	font-family: var(--font-titles);
	font-weight: 600;
	color: var(--link-color);
}

